.relays {
    margin-left: 175px;
    color: white;

    &__switches {
        margin-top: 30px;

        .switch {
            border:none;
            background: rgb(239, 172, 154);
        }
        .switch small {
            background: rgb(239, 72, 54);
        }
        .switch.checked {
            border:none;
            background: rgb(161, 227, 159);
        }
        .switch.checked small {
            background: rgb(49, 199, 64);
        }


    }

}
